@model Finances.WebApp.Models.DemostrativoViewModel

@{
    ViewBag.Title = "Financias";
}

<h2>Lançamentos</h2>

<p><a asp-controller="Lancamento" asp-action="Create">Criar Novo Lançamento</a></p>
<br />

<div class="form-group">
    <label asp-for="ValorTotal" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <span class="form-control">
            @Model.ValorTotal
        </span>
    </div>
</div>
<br />
<br />
<table class="table">
    <tr>
        <th>
            Categoria
        </th>
        <th>
            Gasto
        </th>
        <th>
            Orçamento
        </th>
    </tr>

    @foreach (var item in Model.Itens)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orcamento)
            </td>
        </tr>
    }

</table>
<br />