<header>
    <nav>
        <div class="nav-wrapper black">
          <a href="#" class="brand-logo hide-on-small-only">Logo</a>
          <ul class="right">
              <li><a routerLink="/"><i class="material-icons left">home</i><span class="hide-on-small-only">Home</span></a></li>
              <li><a routerLink="/transacao"><i class="material-icons left">dns</i><span class="hide-on-small-only">Transação</span></a></li>
              <li><a routerLink="/orcamento"><i class="material-icons left">timeline</i><span class="hide-on-small-only">Orcamento</span></a></li> 
              <li><a routerLink="/categoria"><i class="material-icons left">category</i><span class="hide-on-small-only">Categorias</span></a></li>
              <li><a routerLink="/mais"><i class="material-icons left">more_vert</i><span class="hide-on-small-only">Mais</span></a></li>    
          </ul>
        </div>
    </nav>
</header>
