@model Finances.WebApp.Models.CategoriaViewModel

@{
    ViewBag.Title = "Criar Categoria";
}

<h2>Categoria</h2>
<h3>Criar</h3>
<hr />

<form asp-controller="Categoria" asp-action="Create" method="post" class="form-horizontal">
    <div asp-validaion-summary="ValidationSummary.All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Nome" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Cor" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Cor" class="form-control" />
            <span asp-validation-for="Cor" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvar" class="btn btn-default" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Voltar</a>
</div>