@model Finances.WebApp.Models.CategoriaViewModel

@{
    ViewBag.Title = "Editar Categoria";
}

<h2>Categoria</h2>
<h3>Editar</h3>
<hr />

<form asp-controller="Categoria" asp-action="Edit" method="post" class="form-horizontal">
    <div asp-validaion-summary="ValidationSummary.All" class="text-danger"></div>

    <input asp-for="ID" type="hidden" readonly />

    <div class="form-group">
        <label asp-for="Nome" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Cor" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Cor" class="form-control" />
            <span asp-validation-for="Cor" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Icone" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Icone" class="form-control" />
            <span asp-validation-for="Icone" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Pai" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="Pai.ID" asp-items="Model.Categorias" class="form-control"></select> 
            <span asp-validation-for="Pai" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvar" class="btn btn-default" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index"><i class="glyphicon glyphicon-menu-left"></i> Voltar</a>
</div>